@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('./elements/index.css');
@import url('./elements/photographer.css');
@import url('./elements/contactForm.css');
@import url('./elements/mediasGallery.css');
@import url('./elements/filter.css');
@import url('./elements/lightbox.css');

:root {
  --primary-color      : #901C1C;
  --secondary-color    : #D3573C;
  --secondary-color-alt: #DB8876;
  --lighter-color      : #FAFAFA;
  --darker-color       : #525252;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width  : 1440px;
  margin     : 0 auto;
  box-sizing : border-box;
}

#headerContainer {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  height         : 90px;
}

p, h2 {
  margin: 0;
}

.hidden {
  display: none!important;
}

.invalid {
  border: 1px solid red!important;
}
.noScroll {
  overflow     : hidden;
  padding-right: 1rem;
  max-width    : 1456px;
}
.heartIcon {
  cursor    : pointer;
  border    : none;
  background: transparent;
  color     : var(--primary-color);
  font-size : 1rem;
}
.heartIcon:focus-visible {
  border-radius: 25%;
}
.heartFull {
  font-weight: 900;
}
.logo {
  height     : 50px;
  margin-left: 5rem;
  cursor     : pointer;
}

.logo:focus-visible {
  outline       : dashed var(--primary-color);
  outline-offset: 0.5rem;
  border-radius : 5px;
}