@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('./elements/index.css');
@import url('./elements/photographer.css');

:root {
  --primary-color: #901C1C;
  --secondary-color: #D3573C;
  --secondary-color-alt: #DB8876;
  --lighter-color: #FAFAFA; 
  --darker-color: #525252;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

p, h2 {
  margin: 0;
}

.hidden {
  display: none;
}
.heartIcon {
  width: 1.1rem;
  cursor: pointer;
  fill: #901C1C;
}

.logo {
  height: 50px;
  margin-left: 80px;
  cursor: pointer;
}

.logo:focus-visible {
  outline: dashed var(--primary-color);
  outline-offset:  0.5rem;
  border-radius: 5px;
}