@import url("photographer.css");

:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
    --lighter-color: #FAFAFA; 
    --darker-color: #525252;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
}

p, h2 {
    margin: 0;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    justify-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
}

.photographer_section article img, .photographer_header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section article .descriptionFieldArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographer_section article .locationField {
    color: var(--primary-color);
    font-size: 13px;
}

.photographer_section article .tagLineField {
    font-size: 10px;
}

.photographer_section article .priceField {
    color: var(--darker-color);
    font-size: 9px;
}

.photographer_header {
    display: flex;    
}

.image {
    display: inline-flex;
    flex-direction: column;
}