#headerContainer h1 {
    color: var(--primary-color);
    margin: 0 100px 0 0;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.photographer_section article:focus-visible {
    outline-offset:  1rem;
    border-radius: 1rem;
    outline: dashed var(--primary-color);
}

.photographer_section article a {
    justify-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
}

.photographer_section article img, .photographer_header img {
    height: 200px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
}

.photographer_section article img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.photographer_section article .descriptionFieldArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographer_section article .locationField {
    color: var(--primary-color);
    font-size: 13px;
}

.photographer_section article .tagLineField {
    font-size: 10px;
}

.photographer_section article .priceField {
    color: var(--darker-color);
    font-size: 9px;
}

.image {
    display: inline-flex;
    flex-direction: column;
}
