.photographer_header {
    background-color: var(--lighter-color);
    height: 200px;
    margin: 0 3.5rem;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 2rem;
}
#headerContainer .logoNavbar {
    height: 50px;
    margin-left: 3.5rem;
    cursor: pointer;
}
#headerContainer .logoNavbar:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  0.5rem;
    border-radius: 5px;
}
.photographer_header h1 {
    margin: 0;
    color: var(--secondary-color);
    font-size: 4rem;
}
.photographer_header .photographerLocation {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.photographer_header p {
    color: var(--darker-color);
    font-size: 1.1rem;
}
.noScroll {
    overflow: hidden;
    padding-right: 1rem;
    max-width: 1456px;
}
.noScrollInfos {
    right: 2.5rem!important;
}
.contact_modal {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(196, 196, 196, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    border: none;
    margin: 0;
    padding: 0;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
.formButton {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus-visible {
    background-color: var(--secondary-color-alt);
    color: black;
    transition: all 0.2s cubic-bezier(.27,.3,.82,.47);

}
.formButton:hover, .formButton:focus-visible {
    background-color: var(--lighter-color);
    color: var(--primary-color);
    transition: all 0.2s cubic-bezier(.27,.3,.82,.47);
}
.contact_button:focus-visible, .formButton:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
.modal {
    border-radius: 5px;
    background-color: var(--secondary-color-alt);
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.modal>header {
    width: 100%;
    font-size: 4rem;
}

.modal header .modalTitleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header .modalCloseButton {
    padding: 0.5rem;
}

.modal header .modalCloseButton:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
    border-radius: 50%;
    filter: brightness(0) saturate(100%) invert(16%) sepia(50%) saturate(3628%) hue-rotate(347deg) brightness(93%) contrast(92%);
}

.modal header .modalCloseButton:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(50%) saturate(3628%) hue-rotate(347deg) brightness(93%) contrast(92%);
}

.modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    line-height: 4rem;
}

#myform {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#myform label {
    color: #312E2E;
    font-size: 36px;
}

#myform div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

#myform div>input {
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1rem;
}
.valid {
    border: 1px solid lightgreen;
}
.invalid {
    border: 1px solid red;
}
#myform div>input:focus-visible, #myform #senderContent:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
#myform #senderContent {
    width: 100%;
    font-size: 3rem;
    line-height: 4rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1rem;
    resize: none;
    font-weight: bold;
}
#myform #senderContent::placeholder {
    font-family: "DM Sans", sans-serif;
}
.mediaImage, .mediaVideo {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.mediasGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.mediasGallery article {
    justify-self: center;

}
.mediasGallery article figure {
    margin: 0;
}
.mediasGallery article figcaption {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mediasGallery figcaption .mediaLikes {
    display: flex;
    align-items: center;
}
.mediasGallery figcaption .mediaNumber {
    margin-right: 0.5rem;
    font-weight: 500;
}
.heartIcon {
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-size: 1rem;
}
.mediaCard:focus-visible, .heartIcon:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
.heartIcon:focus-visible {
    border-radius: 25%;
}
.mediaCard figcaption>h2 {
    font-size: inherit;
    font-weight: normal;
}
.iconFull {
    font-weight: 900;
}

.filterContainer {
    display: flex;
    margin: 1rem 3.5rem 3.5rem;
}
.filterContainer>p {
    font-weight: bold;
}
.filter {
    padding: 0 0.5rem;
    display: flex;
    position: relative;
    min-width: 6.6rem;
    cursor: pointer;
}
.filter ul {
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    padding: 0;
    text-decoration: none;
    z-index: 10;
}
.filter ul:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
.filter li {
    list-style-type: none;
    padding: 0.5rem;
    padding-right: 1.5rem;
    color: white;
    width: 5rem;
}
.filter li:not(:last-child) {
    border-bottom: 1px solid white;
}
.filter>.filterChevron {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    color: white;
    z-index: 11;
    pointer-events: none;
}
.filter .filterListContainer {
    cursor: pointer;
}
.filter .filterListContainer li:hover {
    background-color: #7a1818;
    border-radius: inherit;
}

.filter .filterListContainer li:focus-visible {
    outline: dashed var(--lighter-color);
    outline-offset:  -4px;
}

.infoContainer {
    background-color: var(--secondary-color-alt);
    position: fixed;
    bottom: 0;
    right: 1.5rem;
    padding: 0.75rem 1rem;
    width: 13.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox>.content {
    display: flex;
    position: relative;
    /* background-color: #fff; */
}
.lightbox>.content img, .lightbox>.content video {
    width: 50rem;
    height: 50rem;
    object-fit: cover;

}
.colLightbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightboxIcon {
    cursor: pointer;
    /* width: 3rem;
    height: 3rem; */
    padding: 0.5rem 1rem;
    border-radius: 50%;
    font-size: 3rem;
    color: var(--primary-color);
}
.lightboxClose {
    position: absolute;
    top: 1rem;
    right: 0;
}
.lightboxIcon:hover, .lightboxIcon:focus-visible {
    background-color: var(--secondary-color);
    color: var(--lighter-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.lightboxIcon:focus-visible, .lightbox .content video:focus-visible {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
.lightboxTitle>p {
    font-size: 1.5rem;
    color: var(--primary-color);
}