/* TODO styliser la partie gauche du heading */
.photographer_header {
    background-color: var(--lighter-color);
    height: 200px;
    margin: 0 80px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 2rem;
}
.photographer_header h1 {
    margin: 0;
    color: var(--secondary-color);
    font-size: 4rem;
}
.photographer_header .photographerLocation {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.photographer_header p {
    color: var(--darker-color);
    font-size: 1.1rem;
}
.contact_modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(196, 196, 196, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
.formButton {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: var(--secondary-color-alt);
    color: black;
    transition: all 0.2s cubic-bezier(.27,.3,.82,.47);

}
.formButton:hover, .formButton:focus {
    background-color: var(--lighter-color);
    color: var(--primary-color);
    transition: all 0.2s cubic-bezier(.27,.3,.82,.47);
}
.contact_button:focus, .formButton:focus {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
/* TODO mettre en forme la modale */
.modal {
    border-radius: 5px;
    background-color: var(--secondary-color-alt);
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.modal>header {
    width: 100%;
    font-size: 4rem;
}

.modal header .modalTitleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    line-height: 4rem;
}

#myform {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#myform label {
    color: #312E2E;
    font-size: 36px;
}

#myform div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

#myform div>input {
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1rem;
}
#myform div>input:focus{
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
#myform #senderContent {
    height: 170px;
}
.mediaImage, .mediaVideo {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.mediasGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.mediasGallery article {
    justify-self: center;

}
.mediasGallery article figure {
    margin: 0;
}
.mediasGallery article figcaption {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mediasGallery figcaption .mediaLikes {
    display: flex;
    align-items: center;
}
.mediasGallery figcaption .mediaNumber {
    margin-right: 0.5rem;
}
.mediaCard:focus, .heartIcon:focus {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
.heartIcon:focus {
    border-radius: 25%;
}
.mediaCard figcaption>h2 {
    font-size: inherit;
}
.iconFull {
    font-weight: 900;
}

.filterContainer {
    display: flex;
    margin: 1rem 80px 3.5rem;
}
.filterContainer>p {
    font-weight: bold;
}
.filter {
    padding: 0 0.5rem;
    display: flex;
    position: relative;
    min-width: 6.6rem;
    cursor: pointer;
}
.filter ul {
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    padding: 0;
    text-decoration: none;
    z-index: 10;
}
.filter ul:focus {
    outline: dashed var(--primary-color);
    outline-offset:  2px;
}
.filter li {
    list-style-type: none;
    padding: 0.5rem;
    padding-right: 1.5rem;
    color: white;
    width: 5rem;
}
.filter li:not(:last-child) {
    border-bottom: 1px solid white;
}
.filter>.filterChevron {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    color: white;
    z-index: 11;
    pointer-events: none;
}
.filter .filterListContainer {
    cursor: pointer;
}
.filter .filterListContainer li:hover {
    background-color: #7a1818;
}

.filter .filterListContainer li:focus {
    outline: dashed var(--lighter-color);
    outline-offset:  -4px;
}

.infoContainer {
    background-color: var(--secondary-color-alt);
    position: fixed;
    bottom: 0;
    right: 1.5rem;
    padding: 0.75rem 1rem;
    width: 13.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}